h1 {
  color: #660066
  float: left;

}

img {
  width: 50%;
  height: 50%;
  float: right;
}

.jumbotron {
  height: 300px;
  image-orientation: right;
}

.jumbotron img {
  max-width: 100px
}


.lorem1 {
  color: #d41243;
  border: 2px solid red;
  padding: 4px
}

.lorem2 {
  color: #00aedb;
  border: 2px solid blue;
  padding: 4px
}

.interests {
color: #f47835;
}

.skill {
  color: #8ec127;
}
