body {
  background-image: url(https://i.pinimg.com/originals/17/df/96/17df96e31aa659f02e6bc20f72813962.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #660066;
  float: left;
  font-family:fantasy;
  font-size: 75px
}

img {
  width: 50%;
  height: 50%;
  float: right;
}

img {
  max-width: 100px
}

.lorem1 {
  color: #d41243;
  border: 2px solid red;
  padding: 4px;
  margin-top: 100px;
}

.lorem2 {
  color: #00aedb;
  border: 2px solid blue;
  padding: 4px;
}

.interests {
  color: #f47835;
  padding: 4px;
}

.interests {
color: #f47835;
}

.skill {
  color: #8ec127;
}
