h1 {
  color: #660066
  float: left;

}

img {
  width: 50%;
  height: 50%;
  float: right;
}

.jumbotron {
  height: 300px;
  image-orientation: right;
}


.lorem-text {
  border: 6px blue;
}


h2, h3 {
  color: #660066
  border: 2px
}

.interests {
color: #f47835
}

.skill {
  color: #8ec127
}
